<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
# Allow all IP addresses to access the application
<RequireAll>
  Require all granted
</RequireAll
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/ognibpsd/sobtime.com"
PassengerBaseURI "/"
PassengerNodejs "/home/ognibpsd/nodevenv/sobtime/10/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/ognibpsd/sobtime"
PassengerBaseURI "/"
PassengerNodejs "/home/ognibpsd/nodevenv/sobtime/12/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 103.55.39.194
